h1{
	color: orange;
	text-align: center;
}

p{
	background: pink;
	border: 1px solid black;
}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

#donut {
	width: 600px;
}